@use "sass:map";
@import "./rwd";
$app-background-color: #FCFDF6;

$background-repeat: no-repeat;
$background-attachment: local;

// BACKGROUND OPTION _1_ CONFIG
@mixin background-config-1() {
  background: url(../assets/Images/Desktop/Home/Background/background-group-1.svg) no-repeat fixed,
  url(../assets/Images/Desktop/Home/Background/background-group-2.svg) no-repeat fixed;
  background-repeat: $background-repeat;
  background-position-x: -50vw, 50vw;
  background-position-y: 30vh, -50vh;
  background-size: 100%;
  @media only screen and (width <= 1600px) {
    background-size: 130%;
    background-position-x: -70vw, 40vw;
    background-position-y: 30vh, -50vh;
  }
  @media only screen and (width <= 1200px) {
    background-size: 150%;
    background-position-x: -70vw, 30vw;
    background-position-y: 30vh, -50vh;
  }
  @media only screen and (width <= $tablet-breakpoint) {
    background-size: 150%;
    background-position-x: -80vw, 50vw;
    background-position-y: 30vh, -50vh;
  }
  @media only screen and (width <= 880px) {
    background-size: 180%;
    background-position-x: -100vw, 30vw;
    background-position-y: 30vh, -45vh;
  }
  @media only screen and (width <= $mobile-breakpoint) {
    background-size: 200%;
    background-position-x: -120vw, 40vw;
    background-position-y: 30vh, -40vh;
  }
}

// BACKGROUND OPTION _2_ CONFIG
@mixin background-config-2() {
  background: url(../assets/Images/Desktop/Profile/Background/background-group-3.svg) no-repeat fixed;
  background-position: left -20vw top;
  background-size: 100%;
  @media only screen and (width <= $tablet-breakpoint) {
    background-size: 150%;
    background-position: left -60vw top;
  }
  @media only screen and (width <= $mobile-breakpoint) {
    background-size: 200%;
    background-position: left -90vw top;
  }
}