@function get-content-width() {
  @return 80%;
}

.wrapper {
  .bannerContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    & img {
      height: calc(100% + 32px);
      transform: translate(-12px, -6px);
    }
  }
  .bioContentContainer {
    margin: auto;
    width: get-content-width();
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 12px;
    &>.profileImageWrapper {
      $image-shift: 75px;
      $border-width: 4px;
      $border-radius: 11px;
      transform: translateY(-$image-shift);
      height: 250px;
      width: 250px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        z-index: -1;
        height: calc($image-shift + $border-width);
        width: calc(100% + $border-width * 2);
        top: -$border-width;
        left: -$border-width;
        border-radius: $border-radius $border-radius 0 0;
        background: #e8c65e;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25) inset,
          0 5px 5px rgba(0, 0, 0, 0.25) inset;
      }
      //overflow: hidden;
      border-radius: $border-radius;
      & img {
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      }
    }
    &>.bioButtonsWrapper {
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      grid-row-gap: 24px;
      &>.bio {
        grid-column: span 2;
      }
    }
  }
  #pageContent {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-column-gap: 24px;
    width: get-content-width();
    margin: auto;
    &>* {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .contentHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      & .subtitle {
        padding-top: 4px;
        font-size: 14px;
        font-weight: 500;
      }
      &>*:first-child {
        align-self: end;
      }
      &>*:last-child {
        align-self: start;
        margin-top: -8px;
        font-weight: 800;
      }
    }
    #account-content__left-col {
      &>.friendCardsContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}